.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 20px auto;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.box.animate {
  transform: translateY(100px) rotate(45deg);
  background-color: red;
}